<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#transactions" data-toggle="tab">Transactions</a></li>
  <li><a href="#biometrics" data-toggle="tab">Biometrics</a></li>
</ul>

<div class="tab-content">
	
	<div class="tab-pane active" id="transactions">
		<div id="statement-form" class="form-group">
			<label for="statement">Upload a statement &nbsp;</label>	
			<span class="btn btn-success fileinput-button">
		        <i class="glyphicon glyphicon-plus"></i>
		        <span>Select file</span>
		        <!-- The file input field used as target for the file upload widget -->
		        <input id="statement-upload" type="file" name="statement">
		    </span>
		</div>
		<div id="statement-preview" class="hidden">
			<table class="table">
			  <thead>
			    <tr>
			      <th>Date</th>
			      <th>Type</th>
			      <th>Description</th>
			      <th>Credit</th>
			      <th>Debit</th>
			      <th>Balance</th>
			    </tr>
			  </thead>
			  <tbody class="transactions">
			    <tr>
			      <td class="date"></td>
			      <td class="type"></td>
			      <td class="description"></td>
			      <td class="credit"></td>
			      <td class="debit"></td>
			      <td class="balance"></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="tab-pane" id="biometrics">
		<form id="biometric-weight-form" action="/api/biometrics" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">How much do you weigh today?</label>
				<input class="form-control" name="weight" placeholder="Your weight">
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>

</div>